server {
  listen 80;
  server_name project.dev *.project.dev;
  root /home/devops/dev/project/public;
  passenger_enabled on;
  passenger_ruby /home/devops/.rbenv/shims/ruby;
  rails_env development;
  access_log /home/devops/dev/project/log/nginx_access.log;
  error_log /home/devops/dev/project/log/nginx_error.log;
}
